echo "# Plus360 Project Git Ignore
__pycache__/
*.pyc
.env

# Airflow
airflow/logs/
airflow/dags/__pycache__/
airflow/.venv/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/.user.yml

# VSCode
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
" > .gitignore
