# Python
__pycache__/
*.pyc
.env

# Airflow
airflow/logs/
airflow/dags/__pycache__/
airflow/.venv/
airflow/.env/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml
dbt/profiles.yml

# VSCode
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
